/* FOOTER */
footer {
    background: var(--ink);
    color: var(--d-text);
    padding: 40px 0 10px;
}

.foot-grid {
    /* display: flex; */
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap
}

.foot-brand {
    max-width: 420px
}

.foot-brand p {
    color: var(--muted-2);
    font-size: 14px;
    margin-top: 10px
}

.foot-cols {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.foot-col h4 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--muted-2);
    margin-bottom: 14px;
    font-weight: 700
}

.foot-col a {
    display: block;
    color: var(--d-muted);
    font-size: 15px;
    padding: 5px 0
}

.foot-col a:hover {
    color: var(--indigo-lite)
}

.foot-bottom {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid var(--d-line);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 14px;
    color: var(--muted-2);
    font-size: 13px
}

.foot-legal {
    grid-column: 1 / -1;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, .14);
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
}

.foot-legal a {
    display: inline-block;
    color: var(--d-muted);
    font-size: 10px;
    min-width: auto;
    background: #f0f3fa0a;
    border: 1px solid var(--d-line);
    border-radius: 20px;
    padding: 4px 8px;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s ease;

}

.foot-legal a:hover {
    color: var(--indigo-lite);
    transform: scale(1.1);
}


.social-links {
    display: flex;
    gap: 12px;
    margin-top: 16px;
    max-width: 420px;
    overflow-x: auto;
    scrollbar-width: none;
}

.social-links a {
    background: rgba(255, 255, 255, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
}

.linkedin:hover {
    background: linear-gradient(to right, #0071f2, #2570b2, #0a69d5);
}

.facebook:hover {
    background: var(--linear-bg-test);
}

.threads:hover {
    background: linear-gradient(to right, #71717a, #57534e, #18181b);
}

.twitter:hover {
    background: linear-gradient(to right, #a5f3fc, #60a5fa, #4f46e5);
    color: white;
}

.instagram:hover {
    background: linear-gradient(to bottom, #ec4899, #ef4444, #f97316);
    color: white;
}

.youtube:hover {
    background: linear-gradient(to right, #ee0000, #b11b1b, #f40000);
}

.pinterest:hover {
    background: linear-gradient(to bottom right, #b30303, #eb0000da, #fd0202);
}

@media(max-width:960px) {
    .foot-legal {
        gap: 10px;
        overflow-x: auto;
        scrollbar-width: none;
    }

    .social-links {
        gap: 8px;
        max-width: 300px;
    }

    .foot-legal a {
        min-width: 110px;
    }
}